<h2>New Profile</h2>


<form action="/make_gif">
  <input type="text" name="url" placeholder="url">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="membership" placeholder="member since">
  <input type="text" name="img" placeholder="imgage url">
  <input type="text" name="bio" placeholder="biography">
  <input type="text" name="town" placeholder="town">
  <input type="text" name="per" placeholder="percent completed url">
  
  <input type="submit">
  
</form>